<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>New Chats</title>
</head>

<body>
  <form action="/chats" method="POST">
    <h2>Create a new chat</h2>
    <input type="text" name="from" placeholder="From" />
    <br /><br />
    <input type="text" name="to" placeholder="To" />
    <br /><br />
    <textarea type="text" name="message" placeholder="write the Message">
      </textarea>
    <br /><br />
    <button>
      Send </button>
  </form>

</body>

</html>